*{
    margin: 0;
    padding: 0;
    
  }
  
  body{
    padding-left: 25px;
    margin-top: 42px;
  }
  
  .Bordo {
      background-color: #591c21;
  }
  .Semana {
    width: 10px;
  }
  .LetraBlanca {
      color: aliceblue;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      height: 20px;
  }
  
  .LetraGris {
      color: #bdbdbd;
  }
  
  .table {
      width: 70%;
      position: relative;
      top: 5px;
      
  }
  
  table, th, td {
      border: 1px solid rgb(180, 180, 180);
    }
    th, td {
      padding: 10px;
    }
    th {
      text-align: center;
    }
    .td1 {
      text-align: right;
    }

    .table2 {
        width: 7%;
        position: relative;
        top: 5px;
        
    }
    .td2 {
        text-align: center;
    }
    
  tr  {
      height: 100px;
  }
  
  h1{
    display: block;
    font-size: 4em;
    margin-block-start: 0.50em;
    margin-block-end: 0.70em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    position: 70px;
    margin-bottom: 30px;
   
  }